spacy==3.8.4
fr-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_lg-3.8.0/fr_core_news_lg-3.8.0-py3-none-any.whl
nltk==3.9.1
pandas==2.2.3
tabulate==0.9.0
matplotlib==3.10.1
